{% extends '/views/layouts/column.twig' %}

{% block content %}
        <div class="container">
            <ul class="item-list">
                {% for product in products %}
                <li>
                    <div class="img-holder">{{ product.thumb|image }}</div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price"><span>{{ product.price }}{% if product.price %} грн{% endif %}</span></div>
                            <div class="weight">{{ product.weight }}{% if product.weight %} г{% endif %}</div>
                        </div>
                        <div class="info">
                            <div class="name">{{ product.title|escape }}</div>
                        </div>
                    </div>
                    <a href="/cart/add/{{ product.id }}" class="buy-btn">Заказать</a>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}