{% extends '/views/layouts/column.twig' %}

{% block content %}
    {% for cat in this.categories %}
    {%  if cat.products %}
        {% if not loop.first %}
            <div class="item-head" id="{{ cat.code }}">
                <div class="container">{{ cat.title }}</div>
            </div>
        {% endif %}
            <div class="container">
                <div class="item-box" id="{{ cat.code }}">
                    {% if cat.products|length>1 %}
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    {% endif %}
                    <div class="gallery-holder">
                        <ul class="slide-list">
                            {% set twins = [] %}
                            {% for product in cat.products %}
                                {%  if product.twin %}
                                    {% set twins = twins | merge([ product ]) %}
                                {% else %}
                                    <li class="slide">
                                        <div class="img-holder">
                                            {{ product.image|image }}
                                        </div>
                                        <div class="description">
                                            <div class="price-col">
                                                <div class="price"><span>{{ product['price'] }} грн</span></div>
                                                <div class="weight">{{ product['weight'] }} г</div>
                                            </div>
                                            <div class="info">
                                                <div class="name">{{ product.title }}</div>
                                                <p>{{ product.detail_text }}</p>
                                            </div>
                                        </div>
                                        <a href="/cart/add/{{ product.id }}" class="buy-btn">Заказать</a>
                                    </li>
                                {% endif %}
                                {% if twins|length==2 %}
                                    <li class="slide">
                                        {% for twin in twins %}
                                            <div class="item">
                                                <div class="img-holder">
                                                    {{ twin.image|image }}
                                                </div>
                                                <div class="description">
                                                    <div class="price-col">
                                                        <div class="price"><span>{{ twin['price'] }} грн</span></div>
                                                        <div class="weight">{{ twin['weight'] }} г</div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">{{ twin.title }}</div>
                                                        <p>{{ twin.detail_text }}</p>
                                                    </div>
                                                </div>
                                                <a href="/cart/add/{{ twin.id }}" class="buy-btn">Заказать</a>
                                            </div>
                                        {% endfor %}
                                    </li>
                                    {%  set twins=[] %}
                                {% endif %}
                                {% if loop.last and twins|length==1 %}
                                    {% for twin in twins %}
                                    <li class="slide">
                                        <div class="img-holder">
                                            {{ twin.image|image }}
                                        </div>
                                        <div class="description">
                                            <div class="price-col">
                                                <div class="price"><span>{{ twin['price'] }} грн</span></div>
                                                <div class="weight">{{ twin['weight'] }} г</div>
                                            </div>
                                            <div class="info">
                                                <div class="name">{{ twin.title }}</div>
                                                <p>{{ twin.detail_text }}</p>
                                            </div>
                                        </div>
                                        <a href="/cart/add/{{ twin.id }}" class="buy-btn">Заказать</a>
                                    </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="switcher-box">
                        {% if cat.products|length>1 %}
                        <div class="switcher">
                            <ul>
                                <li class="active"><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <a href="/category/{{ cat.code }}" class="more">все {{ cat.title|lower }}</a>
                    </div>
                </div>
            </div>
    {% endif %}

    {% endfor %}
{% endblock %}