{% extends '/views/layouts/column.twig' %}

{% block content %}
    {% for cat in this.categories %}
        {%  if cat.products %}
            {% if not loop.first %}
                <div class="item-head" id="{{ cat.code }}">
                    <div class="container">{{ cat.title }}</div>
                </div>
            {% endif %}
            <div class="container">
                <div class="item-box">
                    {% if cat.products|length>1 %}
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    {% endif %}
                    <div class="gallery-holder">
                        <ul class="slide-list">
                            {% set twins = [] %}
                            {% for product in cat.products %}
                                {%  if product.twin %}
                                    {% set twins = twins | merge([ product ]) %}
                                {% else %}
                                <li class="slide">
                                    <div class="img-holder">{{ product.image|image }}</div>
                                </li>
                                {% endif %}
                                {% if twins|length==2 %}
                                    <li class="slide">
                                        {% for twin in twins %}
                                        <div class="item">
                                            <div class="img-holder">
                                                {{ twin.image|image }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                     </li>
                                    {%  set twins=[] %}
                                {% endif %}
                                {% if loop.last and twins|length==1 %}
                                    {% for twin in twins %}
                                        <li class="slide">
                                            <div class="img-holder">{{ twin.image|image }}</div>
                                        </li>
                                     {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="description-gallery">
                        <ul class="description-slide-list">
                            {% set twins = [] %}
                            {% for product in cat.products %}
                                {%  if product.twin %}
                                    {% set twins = twins | merge([ product ]) %}
                                {% else %}
                                    <li class="description-slide">
                                        <div class="description">
                                            <div class="price-col">
                                                <div class="price"><span>{{ product['price'] }}{% if product['price'] %} грн{% endif %}</span></div>
                                                <div class="weight">{{ product['weight'] }}{% if product['weight'] %} г{% endif %}</div>
                                            </div>
                                            <div class="info">
                                                <div class="name">{{ product.title }}</div>
                                                <p>{{ product.detail_text }}</p>
                                            </div>
                                        </div>
                                        <a href="/cart/add/{{ product.id }}" class="buy-btn">Заказать</a>
                                    </li>
                                {% endif %}
                                {% if twins|length==2 %}
                                    <li class="description-slide active">
                                        {% for twin in twins %}
                                        <div class="item">
                                            <div class="description">
                                                <div class="price-col">
                                                    <div class="price"><span>{{ twin['price'] }}{% if twin['price'] %} грн{% endif %}</span></div>
                                                    <div class="weight">{{ twin['weight'] }}{% if twin['weight'] %} г{% endif %}</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">{{ twin.title }}</div>
                                                    <p>{{ twin.detail_text }}</p>
                                                </div>
                                            </div>
                                            <a href="/cart/add/{{ twin.id }}" class="buy-btn">Заказать</a>
                                       </div>
                                       {% endfor %}
                                    </li>
                                    {%  set twins=[] %}
                                {% endif %}
                                {% if loop.last and twins|length==1 %}
                                    {% for twin in twins %}
                                        <li class="description-slide">
                                            <div class="description">
                                                <div class="price-col">
                                                   <div class="price"><span>{{ twin['price'] }}{% if twin['price'] %} грн{% endif %}</span></div>
                                                   <div class="weight">{{ twin['weight'] }}{% if twin['weight'] %} г{% endif %}</div>
                                                </div>
                                                <div class="info">
                                                    <div class="name">{{ twin.title }}</div>
                                                    <p>{{ twin.detail_text }}</p>
                                                </div>
                                            </div>
                                            <a href="/cart/add/{{ twin.id }}" class="buy-btn">Заказать</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}


                            {% for product in cat.products %}
                                {%  if product.twin %}
                                    {% set twins = twins | merge([ product ]) %}
                                {% else %}

                                <!---->
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="switcher-box">
                        {% if cat.products|length>1 %}
                        <div class="switcher">
                            <ul>
                                <li class="active"><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <a href="/category/{{ cat.code }}" class="more">все {{ cat.title|lower }}</a>
                    </div>
                </div>
            </div>
            <!--<div class="item-head" id="drink">
                <div class="container">напитки</div>
            </div>
            <div class="container">
                <div class="item-box">
                    <a href="#" class="prev"></a>
                    <a href="#" class="next"></a>
                    <div class="gallery-holder">
                        <ul class="slide-list">
                            <li class="slide">
                                <div class="item">
                                    <div class="img-holder"><img src="images/img11.jpg" width="147" height="423" alt="image description" /></div>

                                </div>
                                <div class="item">
                                    <div class="img-holder"><img src="images/img04.jpg" width="166" height="442" alt="image description" /></div>

                                </div>
                            </li>
                            <li class="slide">
                                <div class="item">
                                    <div class="img-holder"><img src="images/img11.jpg" width="147" height="423" alt="image description" /></div>
                                </div>
                                <div class="item">
                                    <div class="img-holder"><img src="images/img04.jpg" width="166" height="442" alt="image description" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="description-gallery">
                        <ul class="description-slide-list">
                            <li class="description-slide active">
                                <div class="item">
                                    <div class="description">
                                        <div class="price-col">
                                            <div class="price">50<span>грн</span></div>
                                            <div class="weight">300г</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Апельсиновый сок</div>
                                        </div>
                                    </div>
                                    <a href="#" class="buy-btn">Заказать</a>
                                </div>
                                <div class="item">
                                    <div class="description">
                                        <div class="price-col">
                                            <div class="price">50<span>грн</span></div>
                                            <div class="weight">300г</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Грейпфрутовый сок</div>
                                        </div>
                                    </div>
                                    <a href="#" class="buy-btn">Заказать</a>
                                </div>
                            </li>
                            <li class="description-slide">
                                <div class="item">
                                    <div class="description">
                                        <div class="price-col">
                                            <div class="price">50<span>грн</span></div>
                                            <div class="weight">300г</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Апельсиновый сок</div>
                                        </div>
                                    </div>
                                    <a href="#" class="buy-btn">Заказать</a>
                                </div>
                                <div class="item">
                                    <div class="description">
                                        <div class="price-col">
                                            <div class="price">50<span>грн</span></div>
                                            <div class="weight">300г</div>
                                        </div>
                                        <div class="info">
                                            <div class="name">Грейпфрутовый сок</div>
                                        </div>
                                    </div>
                                    <a href="#" class="buy-btn">Заказать</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="switcher-box">
                        <div class="switcher">
                            <ul>
                                <li class="active"><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                        <a href="#" class="more">все напитки</a>
                    </div>
                </div>
            </div>-->
            {% endif %}
    {% endfor %}
{% endblock %}